<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
						  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath*:*.properties"/>
	<!--连接工厂-->
	<rabbit:connection-factory id="connectionFactory" host="${host}" port="5672" username="guest" password="guest" publisher-confirms="true"/>
	<!--队列-->
	<rabbit:queue name="queue.product_item_create" />
	<rabbit:queue name="queue.product_item_delete" />


	<!--消费者监听类-->
	<bean id="CreateItemMessageConsumer" class="com.taotao.consumer.CreateItemMessageConsumer"></bean>
	<bean id="DeleteItemMessageConsumer" class="com.taotao.consumer.DeleteItemMessageConsumer"></bean>
	<!--设置监听容器-->
	<rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" >
		<rabbit:listener queue-names="queue.product_item_create" ref="CreateItemMessageConsumer"/>
		<rabbit:listener queue-names="queue.product_item_delete" ref="DeleteItemMessageConsumer"/>
	</rabbit:listener-container>
</beans>