<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
	<!--连接工厂-->
	<rabbit:connection-factory id="connectionFactory" host="192.168.33.129" port="5672" username="guest" password="guest" />
	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
	<rabbit:admin connection-factory="connectionFactory"></rabbit:admin>
	<rabbit:queue name="queue.product_item_create"/>
	<rabbit:queue name="queue.product_item_delete"/>
	<rabbit:queue name="queue.elastic_data_add"/>
	<rabbit:queue name="queue.elastic_data_delete"/>






	<rabbit:fanout-exchange name="exchange.fanout_put">
		<rabbit:bindings>
			<rabbit:binding queue="queue.product_item_create"></rabbit:binding>
			<rabbit:binding queue="queue.elastic_data_add"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:fanout-exchange>
	<rabbit:fanout-exchange name="exchange.fanout_pull">
		<rabbit:bindings>
			<rabbit:binding queue="queue.product_item_delete"></rabbit:binding>
			<rabbit:binding queue="queue.elastic_data_delete"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:fanout-exchange>

</beans>