<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <style>
        .topDiv {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid #EEE9E9;
            background-color: #F7F7F7;
            margin-bottom: 40px;
        }

        .strip {
            display: inline-block;
            background-color: #1E90FF;
            width: 5px;
            height: 22px;
            margin-left: 100px;
        }

        .stripText {
            position: absolute;
            display: inline-block;
            margin-left: 10px;
            padding-bottom: 2px;
            text-align: center;
            color: #A3A3A3;
        }

        .button {
            cursor: pointer;
            display: inline-block;
            background-color: white;
            border: 1px solid #EEE9E9;
            width: 80px;
            height: 25px;
            margin-left: 20px;
            color: #5e5e5e;
        }

        .button:hover {
            background-color: #F7F7F7;
        }

        .button span {
            display: inline-block;
            margin-left: 5px;
            font-size: 13px;
        }

        .button i {
            display: inline-block;
            margin-left: 2px;
            font-size: 20px;
        }
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 70px;
            line-height: 150px;
            text-align: center;
        }

        .avatar {
            width: 150px;
            height: 70px;
            display: block;
        }

    </style>
</head>
<body class="hold-transition">
<div id="app">

    <div class="topDiv">
        <span class="strip"></span>
        <span class="stripText">订单详情</span>
        <div class="button" style="margin-left: 855px" @click="refresh">
            <i class="el-icon-refresh-left"></i>
            <span>刷新</span>
        </div>
        <div class="button" @click="close">
            <i class="el-icon-close"></i>
            <span>关闭</span>
        </div>
    </div>
    <!--<div class="content-header">
        <h1>管理
            <small>订单管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>管理</el-breadcrumb-item>
            <el-breadcrumb-item>订单管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>-->

    <div class="app-container">

        <div class="box" style="width: 85%;margin: 0px auto">
            <div style="margin-top: 10px;margin-bottom: 20px">

                <el-button plain size="small" @click="searchData()"><span style="padding-left: 10px;padding-right: 10px">全部订单</span></el-button>
                <el-button plain size="small" @click="searchData('0')"><span style="padding-left: 10px;padding-right: 10px">待付款</span></el-button>
                <el-button plain size="small" @click="searchData('1')"><span style="padding-left: 10px;padding-right: 10px">待发货</span></el-button>
                <el-button plain size="small" @click="searchData('2')"><span style="padding-left: 10px;padding-right: 10px">已发货</span></el-button>
                <el-button plain size="small" @click="searchData('3')"><span style="padding-left: 10px;padding-right: 10px">已完成</span></el-button>
                <el-button plain size="small" @click="searchData('4')"><span style="padding-left: 10px;padding-right: 10px">已关闭</span></el-button>
            </div>
            <div style="border: 1px solid #EEE9E9;background-color: #F7F7F7;padding-bottom: 10px;padding-top: 10px;padding-left: 10px;">
                <i class="el-icon-search"></i>
                <span style="color: #5e5e5e">筛选查询</span>
            </div>
            <div class="filter-container" style="border: 1px solid #f4f4f4;padding-bottom: 0px;padding-top: 10px;padding-left: 30px;margin-bottom: 30px;">
                <!--查询表单-->
                <el-form :inline="true" size="small">
                    <el-form-item label="用户名称" >
                        <el-input v-model="searchMap.user" placeholder="用户名称" class="filter-item"></el-input>
                    </el-form-item>
                    <el-form-item label="收货人">
                        <el-input v-model="searchMap.receiverContact" placeholder="收货人" class="filter-item"></el-input>
                    </el-form-item>
                    <el-form-item label="收货人手机">
                        <el-input v-model="searchMap.receiverMobile" placeholder="收货人手机" class="filter-item"></el-input>
                    </el-form-item>


                    <el-button class="dalfBut" @click="fetchData()" style="margin-left: 60px">查询</el-button>

                </el-form>
            </div>
            <div style="border: 1px solid #f4f4f4;padding-bottom: 10px;padding-top: 10px;background-color: #F7F7F7">
                <img src="../img/001order.png" width="25px" height="20px" style="margin-bottom: 0px;margin-left: 12px">
                <span style="color: #5e5e5e">数据列表</span>
                <el-button plain size="small" style="margin-left: 400px">拆分订单</el-button>
                <el-button plain size="small">合并订单</el-button>
                <el-button plain size="small">打印发货单</el-button>
                <el-button plain size="small" @click="deliveryMany">批量发货</el-button>
                <el-button plain size="small">导出订单</el-button>
            </div>
            <div >
                <el-table :data="tableData" border style="width: 100%;font-size: 12px" border="true" :header-cell-style="{background:'#F9FAFC'}" @selection-change="selsChange" >
                    <!--<el-table-column label="发货" width="80" align='center'>
                        <template slot-scope="scope">
                            <input  type="checkbox" @click="addIds(scope.row.id)">
                        </template>
                    </el-table-column>-->
                    <el-table-column type="selection" width="55" align='center'></el-table-column>
                    <el-table-column prop="id" label="订单编号" width="160" align='center'></el-table-column>
                    <el-table-column prop="createTime" label="提交时间" width="155" align='center'></el-table-column>
                    <el-table-column prop="username" label="用户名称" width="150" align='center'></el-table-column>
                    <el-table-column  label="订单金额" width="100" align='center'>
                        <template slot-scope="scope">
                            <p>{{scope.row.payMoney/100}}￥</p>
                        </template>
                    </el-table-column>
                    <el-table-column label="支付方式" width="80" align='center'>
                        <template slot-scope="scope">
                            <p v-if="'1'==scope.row.payType">微信支付</p>
                            <p v-if="'0'==scope.row.payType">货到付款</p>
                            <p v-if="'2'==scope.row.payType">支付宝</p>
                            <p v-if="'3'==scope.row.payType">银联支付</p>
                        </template>
                    </el-table-column>
                    <el-table-column label="订单来源" width="80" align='center'>
                        <template slot-scope="scope">
                            <p v-if="'1'==scope.row.sourceType">网页订单</p>
                            <p v-if="'2'==scope.row.sourceType">App订单</p>
                            <p v-if="'3'==scope.row.sourceType">微信公众号</p>
                            <p v-if="'4'==scope.row.sourceType">微信小程序</p>
                            <p v-if="'5'==scope.row.sourceType">H5手机页面</p>
                        </template>
                    </el-table-column>
                    <el-table-column  label="订单状态" width="80" align='center'>
                        <template slot-scope="scope">
                            <p v-if="'0'==scope.row.orderStatus">待付款</p>
                            <p v-if="'1'==scope.row.orderStatus">待发货</p>
                            <p v-if="'2'==scope.row.orderStatus">已发货</p>
                            <p v-if="'3'==scope.row.orderStatus">已完成</p>
                            <p v-if="'4'==scope.row.orderStatus">已关闭</p>
                        </template>
                    </el-table-column>


                    <el-table-column
                            label="操作" width="160" align='center'>
                        <template slot-scope="scope">
                            <el-button @click="goOrderDetails(scope.row.id)" size="mini" type="text" size="medium">查看订单</el-button>
                            <el-button @click="" size="mini" type="text" size="medium">关闭订单</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="fetchData"
                        @current-change="fetchData"
                        :current-page.sync="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
            <div class="add-form">
                <!--弹出窗口-->
                <el-dialog title="编辑" :visible.sync="formVisible">

                </el-dialog>
            </div>

        </div>
    </div>


</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                formVisible: false,
                imageUrl: '',
                sels:[],


            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.post(`/order/findPage.do?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`/order/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(response => {
                    this.fetchData(); //刷新列表
                    this.formVisible = false;//关闭窗口
                });
            },
            edit(id) {
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/order/findById.do?id=${id}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele(id) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/order/delete.do?id=${id}`).then(response => {
                        this.fetchData(); //刷新列表
                    })
                })
            },
            searchData(status){
                this.searchMap.orderStatus = status;
                this.fetchData();
            },
            goOrderDetails(id){
                location.href = `orderDetail.html?id=${id}`;
            },
            refresh() {
                location.reload();
            },
            close() {
                if
                (confirm("您确定要关闭本页吗？")) {
                    window.opener = null;
                    window.open('', '_self');
                    window.close();
                }
                else {
                }
            },
            selsChange(sels) {
                this.sels = sels
            },
            deliveryMany(){
                var id = "";
                //?id=12&id=1233&id=1323
                for(var i=0;i<this.sels.length;i++){
                    if(i!=this.sels.length-1){
                        id = id+"id="+this.sels[i].id+"&";
                    }else{
                        id = id+"id="+this.sels[i].id;
                    }
                }
                location.href = `deliveryMany.html?${id}`

            }
            /* ****图片上传相关代码  如页面有图片上传功能放开注释 ****
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
        }
    })
</script>
</html>
